---
import { getCollection } from 'astro:content';
import NoHeaderLayout from '../layouts/NoHeaderLayout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import FeaturedPostPreview from '../components/FeaturedPostPreview.astro';
import PostPreview from '../components/PostPreview.astro';
import siteConfig from '../data/site-config';
import { sortPostsByDateDesc } from '../utils/post-utils';
import Subscribe from '../components/Subscribe.astro';

const posts = (await getCollection('blog')).sort(sortPostsByDateDesc);
const featuredPosts = posts.filter(({ data }) => data.isFeatured);
const latestPosts = posts.filter(({ data }) => !data.isFeatured).slice(0, 3);
---

<NoHeaderLayout description={siteConfig.description} image={siteConfig.image}>
    <div class="relative bg-slate-50 border-b border-slate-100">
        <Header class="relative" />
        <Hero />
    </div>
    <main class="grow py-12 sm:py-16">
        {
            featuredPosts?.length > 0 && (
                <div class="px-4 mb-12 border-b border-slate-200 sm:px-8 sm:mb-16">
                    <div class="max-w-6xl mx-auto">
                        {featuredPosts.map((post) => (
                            <FeaturedPostPreview post={post} />
                        ))}
                    </div>
                </div>
            )
        }
        {
            latestPosts?.length > 0 && (
                <div class="px-4 mb-12 sm:px-8 sm:mb-16">
                    <div class="max-w-3xl mx-auto mb-8 sm:mb-12">
                        <h2 class="text-sm uppercase tracking-wider text-slate-900 after:content-[''] after:block after:w-16 after:h-px after:bg-primary after:mt-4">
                            Latest Articles
                        </h2>
                    </div>
                    <div class="max-w-3xl mx-auto xl:max-w-6xl">
                        {latestPosts.map((post) => (
                            <PostPreview post={post} />
                        ))}
                    </div>
                    <div class="max-w-3xl mx-auto pt-8 border-t border-slate-200 sm:pt-12">
                        <a
                            class="px-8 py-2.5 inline-flex gap-1.5 justify-center items-center font-semibold bg-primary text-white rounded-full transition duration-300 hover:shadow-button"
                            href="/blog"
                        >
                            View All Posts
                        </a>
                    </div>
                </div>
            )
        }
        <Subscribe class="px-4 my-12 sm:px-8 sm:my-16" />
    </main>
</NoHeaderLayout>
