---
import siteConfig from '../data/site-config.ts';
import SocialLink from './SocialLink.astro';

const hero = siteConfig.hero;
const socialLinks = siteConfig.socialLinks || [];
---

{
    (hero?.title || hero?.text || hero?.avatar?.src) && (
        <>
            {hero?.backgroundImage?.src && (
                <div class="absolute inset-0 bg-cover bg-center opacity-20" style={{ backgroundImage: `url(${hero?.backgroundImage?.src})` }} />
            )}
            <section class="px-4 py-12 relative sm:px-8 sm:py-16">
                <div class="w-full max-w-3xl mx-auto flex flex-col items-center text-center">
                    {hero?.avatar?.src && (
                        <div class="p-6">
                            <img
                                src={hero?.avatar?.src}
                                alt={hero?.avatar?.alt || ''}
                                class="w-32 aspect-square object-cover rounded-full border-2 border-primary shadow-avatar"
                            />
                        </div>
                    )}
                    {hero?.title && <h1 class:list={['text-4xl font-bold text-slate-900 sm:text-5xl', { 'mt-6': hero?.avatar?.src }]}>{hero?.title}</h1>}
                    {hero?.text && (
                        <p class:list={['text-slate-700 sm:text-lg', { 'mt-4': hero?.title, 'mt-6': hero?.avatar?.src && !hero?.title }]}>{hero?.text}</p>
                    )}
                    {socialLinks.length > 0 && (
                        <div class:list={['flex flex-wrap gap-x-4 gap-y-3 justify-center', { 'mt-7': hero?.avatar?.src || hero?.title || hero?.text }]}>
                            {(siteConfig.socialLinks || []).map((link) => (
                                <SocialLink {...link} class="bg-white text-slate-700 hover:bg-primary hover:text-white hover:shadow-button" />
                            ))}
                        </div>
                    )}
                </div>
            </section>
        </>
    )
}
